.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
*{
  font-family: 'Khmer OS Battambang';
  src: url('./assets/fonts/KhmerOS_battambang.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 
    -apple-system, /* macOS/iOS system font */
    BlinkMacSystemFont, /* Chrome macOS */
    'Segoe UI', /* Windows */
    'Roboto', /* Android */
    'Oxygen', /* KDE */
    'Ubuntu', /* Ubuntu */
    'Cantarell', /* GNOME */
    'Fira Sans', /* Firefox OS */
    'Droid Sans', /* Older Android */
    'Helvetica Neue', 
    'Khmer OS Battambang', /* Khmer fallback */
    sans-serif;
}
label, ::placeholder {
  font-family: 'Khmer OS Battambang', sans-serif;
  font-weight: 500;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ant-modal-footer{
  text-align: center !important;
}
.borderMenu{
  border: 0.1rem solid #e3e3e3;
  padding:0.5rem 1rem 0rem 1rem
}
.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused){
  height: 15rem;
}

.cus-card .ant-card-body{
  padding:0px
}

/* Hide the default clock but keep click functionality */
.custom-time-input input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;        /* invisible */
  cursor: pointer;   /* show pointer cursor */
  width: 100%;       /* expand clickable area */
  position: absolute;
}
.bgMessCard {
  min-height: 15rem;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  ;
}

.label16600{
  font-size: 16px;
  font-weight: 550;
}



